#
#Sat Jun 06 22:21:10 MSK 2026
itemCraftGuideID=23361
gridPacking=true
textSearchRequiresShift=false
insertBetterWithRenewablesRecipes=false
resizeRate=0
RecipeList_mouseWheelScrollRate=3
enableKeybind=true
newerBackgroundStyle=false
PauseWhileOpen=true
hideMundanePotionRecipes=true
alwaysShowID=false
