cheats{
	survivalCheating=false
}
hacks{
	#Resolve and change PowerCraft item IDs
	idResolve=true
	splash=true
	userName=""
}
key{
	#Key for rotate placing
	keyReverse=29
}
modules{
	Checkpoints{
		langVersion=0
		lastIgnoredVersion="Added more options"
	}
	Core{
		langVersion=0
		lastIgnoredVersion="Updated PowerCraft For Minecraft 1.5.1"
	}
	Deco{
		langVersion=0
	}
	Hologram{
		lastIgnoredVersion="*NEW* Hologram Block, Field Views and Glasses"
	}
	Itemstorage{
		lastIgnoredVersion="*NEW* Item Storages"
	}
	Light{
		langVersion=0
	}
	Logic{
		langVersion=0
		lastIgnoredVersion="Bugfixes"
	}
	Machines{
		langVersion=0
		lastIgnoredVersion="Bugfixes"
	}
	Mobile{
		langVersion=0
		lastIgnoredVersion="Bugfixes"
	}
	Net{
		langVersion=0
	}
	Teleport{
		langVersion=0
	}
	Transport{
		langVersion=0
		lastIgnoredVersion="Bugfixes"
	}
	Weasel{
		langVersion=0
		lastIgnoredVersion="Bugfixes"
	}
}
sound{
	enabled=true
}
threads{
	#Number of thread of PowerCraft
	count=6
}
updater{
	#Should PowerCraft look for updates
	autoUpdate=false
	ignore{
		Api=""
		Checkpoints=""
		Core=""
		Deco=""
		Hologram=""
		ItemStorage=""
		Light=""
		Logic=""
		Machines=""
		Mobile=""
		Net=""
		Teleport=""
		Transport=""
		Weasel=""
	}
	#Should PowerCraft show always the update screen
	openAlwaysUpdateScreen=false
	#Show developer Versions
	showDeveloperVersions=false
	source="C:\Users\Andrey"
}
